#root{
  background-color: rgb(237, 245, 241);
}
.header{
  background-color: rgb(237, 245, 241);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0px 5px 6px #dfe1e4;
}
.user-interface{
  .left-dashboard{
    box-shadow: 5px 0px 6px #dfe1e4;
    background-color: #ffffff;
    height: 66ch;
    width: 300px;
    .category{
       .nav-item{
         width: 95%;
         &:hover{
           background-color: #fbd345;
           cursor: pointer;
         }
       }
    }
  }
  .book{
    height: 210px;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px #dfe1e4 ,-2px -2px 4px #dfe1e4;
    img{
      height: 130px;
    }
  }
}
.logo{
  width: 50px;
  height: 50px;
}
h5 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.main{
  .wrap {
    border: 5px solid transparent;
    width: 240px;
    .img-fluid {
      height: 200px;
      width: 230px;
    }

    .footer {
      position: relative;
      background-color: rgb(215, 240, 227);
      width: 230px;
      height: 50px;

      h5 {
        text-align: center;
        font-family: 'Lobster', cursive;
        font-size: 26px;
      }

      .rgba {
        position: absolute;
        top: 0;
        left: 0;
        width: 230px;
        height: 40px;
        background-color: rgb(69, 190, 122);
        display: none;
        .enter{
          text-align: center;
          font-family: 'Lobster', cursive;
          font-size: 26px;
          color: white;
        }
      }
    }

    &:hover {
      cursor: pointer;
      border: 5px solid rgb(69, 190, 122);
      .footer {
            .rgba{
              display: block;
            }
            h5{
              color: white;
            }
      }
    }
  }
}
.pdp{
  background-color: rgb(215, 240, 227);
}
.download{
  background-color: rgb(69, 190, 122) !important;
}

.main-page{
  .img-fluid{
    width: 100%;
  }
}
.container-fluid{
  margin: 0;
  padding: 0;
}
.back-rgba{
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
}